<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/chapter14.css}" rel="stylesheet" type="text/css" />
    <title>社員一覧</title>
</head>
<body>
    <h2>検索条件</h2>
    <form method="post" th:action="@{/mycamp/chapter14/listEmployee}" th:object="${form}">
	    <ul>
	      <li th:each="e : ${#fields.detailedErrors()}"
	        th:class="${e.global}? globalerrMsg : fielderrMsg" th:text="${e.message}" />
	    </ul>
	    <p>
	    	<label for="deptId" accesskey="n">部署：</label>
	    	<select th:field=*{deptId}>
	    		<option value="">すべて</option>
	    		<option th:each="dept : ${depts}" th:value="${dept.id}" th:text="${dept.name}">item</option>
	    	</select>
    	</p>
    	<p>
	    	<label for="id">ID：</label>
	        <input type="text" th:field="*{id}" th:errorclass="fieldError" />
	        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
        </p>
        <p>
	    	<label for="name">名前：</label>
	        <input type="text" th:field="*{name}" th:errorclass="fieldError" />
	        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </p>
        <p>
	    	<label for="age">年齢：</label>
	        <input type="number" th:field="*{age}" th:errorclass="fieldError" />
	        <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
        </p>
        <p>
	    	<label for="from">期間：</label>
	        <input type="date" th:field="*{from}" th:errorclass="fieldError" />
	        <span> ～ </span>
	        <input type="date" th:field="*{to}" th:errorclass="fieldError" />
	        <span th:if="${#fields.hasErrors('from')}" th:errors="*{from}"></span>
        </p>
        <p>
            <input type="submit" value="検索" />
        </p>
    </form>
    
    <h2>検索結果</h2>
    <table border="1">
    	<tr>
    		<th>ID</th>
    		<th>NAME</th>
    		<th>AGE</th>
    		<th>SEX</th>
    		<th>ADDRESS</th>
    		<th>DEPT NAME</th>
    	</tr>
    	<tr th:each="emp : ${employee}">
    		<td th:text="${emp.id}"></td>
    		<td th:text="${emp.name}"></td>
    		<td th:text="${emp.age}"></td>
    		<td th:text="${emp.sex}"></td>
    		<td th:text="${emp.address}"></td>
    		<td th:text="${emp.deptName}"></td>
    	</tr>
    </table>
</body>
</html>