<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>ログイン</title>
</head>
<body>
	<div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null">
		<strong>ログインに失敗しました: </strong>ユーザが存在しないか、パスワードが間違っています。
	</div>
	
	<form th:action="@{/login}" method="post">
		<h2>ログイン画面</h2>
		<p>
		  <input type="text" name="loginId" placeholder="ログインID" />
		</p>
		<p>
		  <input type="password" name="password" placeholder="パスワード" />
		</p>
		<button type="submit">ログイン</button>
	</form>
</body>
</html>